<%= @announcee.term_of_address %><br/>
<%= Configurable.site_title %> <%= @announcee.announcement_text %>:
<br />
<h1><%= @post.title%></h1>
<%= raw @post.body %>

<% @post.groups.each do |group| %>
  Unsubscribe to <%= group.name %> post mailings <%= link_to "Click here", unsubscribe_url(:group_name => group.name, :token => @announcee.token, :host => (Rails.env.development? ? Rails.application.config.action_mailer.default_url_options[:host] : Configurable.blog_host_url)) %><br>
<% end %>
