<%= form_for(@announcee) do |f| %>
  <% if @announcee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcee.errors.count, "error") %> prohibited this announcee from being saved:</h2>

      <ul>
      <% @announcee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4><%= f.label :first_name %></h4>
  <%= f.text_field :first_name %>

  <h4> <%= f.label :last_name %></h4>
  <%= f.text_field :last_name %>

  <h4><%= f.label :email %></h4>
  <%= f.text_field :email %>
  
  <h4>Group Membership</h4>
  <% @groups.each do |group| %>
    <%- next if group.name == "public" -%>
    <%= check_box_tag "announcee[group_ids][]", group.id, @announcee.groups.include?(group) %>&nbsp;<%= group.name %><br/>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
