<h1>Listing announcees</h1>
<h3>Total number: <%= @announcees.size %></h3>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Web link</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @announcees.each do |announcee| %>
      <tr>
    	<td><%= link_to announcee.full_name, announcee, :class => "btn btn-info" %></td>
        <td><%= announcee.email %></td>
        <td><%= link_to "Web link", posts_url(:token => announcee.token), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_announcee_path(announcee) , :class => "btn btn-success" %></td>
        <td><%= link_to 'Delete', announcee, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Announcee', new_announcee_path, :class => "btn btn-success" %>
