<p id="notice"><%= notice %></p>

<h1><%= @group.name %></h1>
<h3><%= @announcees.size %> members</h3>
<%- @announcees.each do |announcee| -%>
	<%= announcee.full_name %><br/>
<%- end -%>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
