<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= raw @post.body %>
</p>


<%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-success" %> 
<% if @post.draft? %>
	<span class="publishing_spinner"></span>
	<span class="btn btn-danger publish_post" data-post-id="<%= @post.id %>">Publish</span>
<% end %>
<%= link_to 'Delete', @post, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', posts_path, :class => "btn btn-info"%>
